# ropeChart

The rope chart provides a simplified visualization of where a particular value lies within a group.

Look at the [Demo](http://BI.github.io/rope-chart)

# Getting Started

LollipopChart is a UMD module, you can add the javascript in a scripts tag or require it using something like webpack. D3 must either be available in the global namespace or bundled in with your bundle tool. For the global namespace method download lollipopChart.js, put something like the following in your and you should be good to go.

```
<script src="d3.js" charset="utf-8"></script>
<script src="ropeChart.js" charset="utf-8"></script>
```

# Example

HTML would look something like this

```
<!DOCTYPE html>
<html lang="en-US">
	<head>
		<script src="d3.js" charset="utf-8"></script>
		<script src="ropeChart.js" charset="utf-8"></script>
		
	</head>
	<body>
		<div id="myRopeChart"></div>	
	</body>
	<script src="index.js"></script>
</html>
```

And the index.js here would contain something like this

```
var data = [
  {value: 5, label: 'Foo'},
  {value: 95, label: 'Bar'},
  {value: 60, label: 'Baz'},
  {value: 45, label: 'Qux'}
];

var myRopeChart = ropeChart('div#myRopeChart');
	.data(data)
	.width(250)
	.height(250)
	.ropeWidth(10)
	.knotRadius(10)
	.render();
```

# API Reference
{{#class name="RopeChart"}}{{>docs}}{{/class}}