
.Rope-Chart {
	.top-knot {
		fill: #7DD0D4;
	}

	.bottom-knot {
		fill: #7DD0D4;
	}

	.focus-knot {
		fill: #338ED8;
		stroke: #C55353;
		stroke-width: 2px;
	}

	.average-knot {
		fill: #105B98;

	}

	.rope {
		fill: #CCC;
	}
}