
.Rope-Chart {
	.top-knot {
		fill: #7DD0D4;
	}

	.bottom-knot {
		fill: #7DD0D4;
	}

	.focus-knot {
		fill: #338ED8;
		stroke: #C55353;
		stroke-width: 2px;
	}

	.max-focus-knot {
		fill: #338ED8;
		stroke: #C55353;
		stroke-width: 2px;
	}

	.min-focus-knot {
		fill: #338ED8;
		stroke: #C55353;
		stroke-width: 2px;
	}

	.threshold-knot {
		fill: #105B98;

	}

	.bottom-rope {
		fill: #B1B1B1;
	}

	.top-rope {
		fill: #E4E4E4;
	}

	tspan.tooltip-label-threshold, tspan.tooltip-label-top,
	tspan.tooltip-label-bottom, tspan.tooltip-label-focus {
		fill: #6482a5;
		
		&:hover {
			fill: #30619a;
		}
	}

	.rank-rect {
		fill: red;
		rx: 4px;
		ry: 4px;
	}

	.rank-label {
		font-size: 14px;
		fill: white;
	}
}
